* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  width: 100%;
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.container {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selector-languages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.language {
  width: 250px;
  background-color: rgb(87, 188, 246);
  font-size: 18px;
  padding: 5px;
  color: black;
  border-radius: 5px;
}

.textarea-languages {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.div-textarea {
  width: 250px;
  height: 250px;
}

.textarea {
  width: 250px;
  height: 200px;
  padding: 20px;
  background-color: transparent;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  resize: none;
}

.loading {
  color: lightpink;
}

.arrows-button {
  background-color: lightslategray;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 4px;
  cursor: pointer;
}

.arrows-button:hover {
  border: 1px solid white;
}

.icon-button {
  background-color: lightslategray;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10%;
  padding: 4px;
  cursor: pointer;
}

.icon-button:hover {
  border: 1px solid white;
}

.copied-text {
  background-color: lightpink;
  padding: 4px 6px;
  border-radius: 5px;
  margin-left: 10%;
}

/* .copied-message {
  width: 50%;
  margin-top: 10px;
  text-align: center;
  background-color: lightskyblue;
  padding: 5px;
  border-radius: 5px;
} */

@media (max-width: 767px) {
  .container {
    width: 300px;
  }

  .language {
    width: 120px;
    font-size: 14px;
  }

  .textarea-languages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .div-textarea {
    width: 100%;
    height: 180px;
  }

  .textarea {
    width: 100%;
    height: 180px;
    font-size: 14px;
  }

  .icon-button {
    margin-top: 20px;
  }
}
